.home{
    /* background-image: url(../assets/RJC.png); */
  
    /* height:1500px; */
}
footer{
    display: block;
    text-align: center;
    position: fixed;
    left:0;
    bottom:0;
    right:0;
    background-color: pink;
}

.cardContainer{
    /* width:30%; */
    margin: auto;
    padding-top: 1%;
    padding-left: 79%;
    
    
    
    
}